h1{
    text-align: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX1Q4pF03E8MIGtzVW_E78qmeyNUkqXNKqpA&s');
    background-size: cover;
    color: #0206FF;
}
